# Ignore everything
*

# Unignore files with extensions
!*.*

# Unignore directories
!*/

### The combination above ignores all files without an extension ###

# Object files
*.o

# Executables
*.exe
*.out
*.app
